<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./partials/head.ejs")%>
    <!-- CUSTOM CSS (additional) -->
    <link rel="stylesheet" href="/styles/1_header.css" />
    <link rel="stylesheet" href="/styles/3_index.css" />
    <link rel="stylesheet" href="/styles/2_main.css" />
    <!-- CUSTOM JS -->
    <script defer src ="/scripts/script.js"></script>
    <script defer src ="/scripts/counter.js"></script>
  </head>
  <body>
    <header class="header">
      <div class="section-1">

    

     <!--right navbar -->
    <div class="left-nav">
      <i id = "fa" class="fas fa-bars fa-2x"></i>
      <ul class="navbar">
         <li class="nav"><a href="/">Home</a></li>
          <li class="nav"><a href="/about">About Us</a></li>
          <li class="nav"><a href="/gallery">Gallery</a></li>
          <li class="nav"><a href="/orders">Orders</a></li>
          <li class="nav"><a href="/contacts">Contacts</a></li>
        </ul>

    </div>
    <div class="right-nav"><h2>TA<span style="color: red">f</span>LA</h2></div>
  </div>
    </header>


    <main>
      <div id="slides">

        <div class="slide showing">
<!-- left slide part -->
          <div class="left-slide">
            <h2 class="vertical-text">TAfLA</h2>
          </div>



<!-- middle slide with text and image -->
<div class="middle-text-and-image">

          <div class="middle-slide">
            <div class="top-slide-text">
              <h3>TABLE COLLECTION 2021</h3>
              <H1>Welcome to TA<span style="">f</span>LA store</H1>
            
            <div class="middle-line"></div>
            </div>
            <div class="bottom-slide-text">
              <h4>Many companies happily chosen us to produce best looking tables for their fresh offices.
                <span><img src="https://i.ibb.co/d4cd4h6/pngwing-com-3.png"></span>
              </h4>
              <button><a href="/orders">SHOP NOW &rarr;</a></button>
            </div>
          </div>

          <div class="right-slide">
            <img src= "https://i.ibb.co/khGgjs6/pngwing-com.png" alt="" />
          </div>
        </div>

        <div class="empty-right-slide"></div>

      </div>



        <div class="slide">
          <div class="left-slide">
            <h2 class="vertical-text">TAfLA</h2>
          </div>

          <!-- middle slide with text and image -->
<div class="middle-text-and-image">
          <div class="middle-slide">
            <div class="top-slide-text">
              <h3>AWARDED MOST INNOVATIVE FURNITURE COMPANY OF 2020</h3>
              <H1>Welcome to TA<span style="">f</span>LA store</H1>
              <div class="middle-line"></div>
            </div>
            
            <div class="bottom-slide-text">
              <h4>Get in touch with your team to get the best possible solutions.
                <span><img src="https://i.ibb.co/QjgvHwp/pngwing-com-4.png"></span>
              </h4>
              <button><a href="">SHOP NOW &rarr;</a></button>
            </div>
          </div>
          <div class="right-slide">
            <img src= "https://i.ibb.co/2M0hQG1/pngwing-com-1.png" alt="" />
          </div>
        </div>
        <div class="empty-right-slide"></div>
      </div>

        <div class="slide">

          <div class="left-slide">
            <h2 class="vertical-text">TAfLA</h2>
          </div>

                    <!-- middle slide with text and image -->
        <div class="middle-text-and-image">
          <div class="middle-slide">
            <div class="top-slide-text">
              <h3>NEW COLLECTION SOON</h3>
              <H1>Welcome to TA<span style="">f</span>LA store</H1>
              <div class="middle-line"></div>
            </div>
            <div class="bottom-slide-text">
              <h4>We will offer brand new collection soon to our existing customers and future ones.
                <span><img src="https://i.ibb.co/MnyL1ht/pngwing-com-5.png">
                </span>
              </h4>
              <button><a href="">SHOP NOW &rarr;</a></button>
            </div>
          </div>

          <div class="right-slide">
            <img src= "https://i.ibb.co/NpF088N/pngwing-com-1.png" alt="" />
          </div>
        </div>
        <div class="empty-right-slide"></div>
      </div>



      </div>
    </div>

    <!-- Section 2 -->

    <div class="section-2">
      <div class="section-2-main">
      <div class="left-section-2">
        <img src="https://i.ibb.co/FhkFJrL/new-chair.png" alt="new-chair" border="0">
      </div>

      <div class="right-section-2">

        <div class="top-text-section-2">
          <h3>FEATURED PRODUCT</h3>
          <H1>Ferskur</H1>
          <div class="middle-line"></div>
        </div>

        <div class="bottom-text-section-2">
          <h4>Furniture like this will always make your office look brighter.
          </h4>
          <button><a href="/orders">ONLY $150 &rarr;</a></button>
        </div>
      </div>
    </div>
    <h2 class="side-text">CHAIRS</h2>
  </div>

  <!-- section 3 -->

  <div class="section-2 section-3">
    <div class="section-2-main">
    <h2 class="side-text-2">OAK</h2>
    <div class="right-section-2">

      <div class="top-text-section-2">
        <h3>FEATURED PRODUCT</h3>
        <H1>Fataskápur</H1>
        <div class="middle-line"></div>
      </div>

      <div class="bottom-text-section-2">
        <h4>Your guests will be delighted to have coffee on such tables.
        </h4>
        <button><a href="/orders">ONLY $330 &rarr;</a></button>
      </div>
    </div>

    <div class="left-section-2">
      <img src="https://i.ibb.co/F6TBBLZ/new2.png">
    </div>



  </div>
  
</div>

<!--  Section 4 -->

<div class="section-2 section-3">
  <div class="section-2-main">
  <div class="left-section-2">
    <img src="https://i.ibb.co/th2MDDZ/new.png"/>
  </div>

  <div class="right-section-2">

    <div class="top-text-section-2">
      <h3>FEATURED PRODUCT</h3>
      <H1>Hillu</H1>
      <div class="middle-line"></div>
    </div>

    <div class="bottom-text-section-2">
      <h4>Fresh, unique, eco friendly and made from recycled wood.
      </h4>
      <button><a href="/orders">ONLY $220 &rarr;</a></button>
    </div>
  </div>
</div>

<h2 class="side-text-3">UNIQUE</h2>
</div>

<!-- Section 5 Gallery of 4 images -->

<section class="section-5">
  <div class="section-5-main">

    <div class="section-5-top">
      <h2>Best Selling</h2>
      <div class="yellow-border-5"></div>
    </div>

    <div class="section-5-bottom">

      <div class="section-5-card">
        <div class="section-5-card-top">
          <img src="https://i.ibb.co/CwnRwC5/1.png"/>
        </div>
        <div class="section-5-card-bottom">
          <h4>Bar Stool</h4>
          <h3>$45</h3>
        </div>
      </div>

      <div class="section-5-card">
        <div class="section-5-card-top">
          <img src="https://i.ibb.co/MDbf12z/pngwing-com-5.png" />
        </div>
        <div class="section-5-card-bottom">
          <h4>Guest Chair</h4>
          <h3>$85</h3>
        </div>
      </div>

      <div class="section-5-card">
        <div class="section-5-card-top">
          <img src="https://i.ibb.co/P6N6Mzt/pngwing-com-2.png" />
        </div>
        <div class="section-5-card-bottom">
          <h4>Coffee Table</h4>
          <h3>$95</h3>
        </div>
      </div>

      <div class="section-5-card">
        <div class="section-5-card-top">
          <img src="https://i.ibb.co/YLyz5fz/pngwing-com-6.png" />
        </div>
        <div class="section-5-card-bottom">
          <h4>Bedroom storage</h4>
          <h3>$225</h3>
        </div>
      </div>



    </div>
  </div>

</section>

<!-- Section 6 -->
<section class="section-6">
  <div class="section-6-main">
    <div class="section-6-left">
      <h2>ECO</h2>
    </div>
    <div class="section-6-left-empty"></div>

    <div class="section-6-left-2">
      <div class="section-6-card-top">
        <h3>New Collection <span style="color: red">50% OFF</span></h3>
        <div class="yellow-border-6"></div>
      </div>
      
      <div class="section-6-card-middle">
        <p>This fantastic sale will not last forever, so be sure to contact us for the best choice and our team will be more than happy to assist you.</p>
        <h3 class="counter"></h3>
        <div class="counter-text">
          <h4>Days</h4>
          <h4>Hours</h4>
          <h4>Min</h4>
          <h4>Sec</h4>
        </div>
      </div>
      <div class="section-6-card-bottom">
        <button><a href="/orders">SHOP NOW &rarr;</a></button>
      </div>
    </div>
    <div class="section-6-right">
      <img src="https://i.ibb.co/tCkncsd/pngwing-com-5.png" />
    </div>
    <!-- <div class="section-6-right-2"></div> -->
  </div>
</section>


</main>

    <%- include("./partials/footer.ejs")%>
  </body>
</html>
